<section>
    <app-pasajero-form></app-pasajero-form>
</section>


<section>

    <div class="container">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">{{ "INICIO.IDVUELO" | translate}}</th>
                    <th scope="col">{{ "INICIO.NOMBRES" | translate}}</th>
                    <th scope="col">{{ "INICIO.APELLIDOS" | translate}}</th>
                    <th scope="col">{{ "INICIO.GENERO" | translate}}</th>
                    <th scope="col">{{ "INICIO.TIPOIDENTIFICACION" | translate}}</th>
                    <th scope="col">{{ "INICIO.IDENTIFICACION" | translate}}</th>
                    <th scope="col">{{ "INICIO.CELULAR" | translate}}</th>
                    <th scope="col">{{ "INICIO.CORREO" | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pasajero of pasajeros | pasajeroFilter:idVuelo:'idVuelo'">
                    <td>{{pasajero.idVuelo}}</td>
                    <td>{{pasajero.nombres}}</td>
                    <td>{{pasajero.apellidos}}</td>
                    <td>{{pasajero.genero}}</td>
                    <td>{{pasajero.tipoIdentificacion}}</td>
                    <td>{{pasajero.identificacion}}</td>
                    <td>{{pasajero.celular}}</td>
                    <td>{{pasajero.email}}</td>
                    <td>
                        <button [routerLink]="['/pasajeros/edit', pasajero.id]"
                            class="btn btn-info btn-block">{{"INICIO.EDITAR" | translate}}</button>
                    </td>
                    <td>
                        <button class="btn btn-danger"
                            (click)="deletePasajero(pasajero.id)">{{"INICIO.ELIMINAR" | translate}}</button>
                    </td>
        </table>
    </div>
</section>